# Exercises

## 1. Read the planetary data in the text file $\textit{planetData.txt}$ into a Pandas DataFrame and perform the following tasks.

## (a) Based on the data read in from the file $planetData.txt$, find the average density of each planet relative to that of the Earth and add the results as a column in your DataFrame.

## (b) Print out your DataFrame sorted from the largest to smallest diameter planet.

## (c) Make a list of planets that have masses greater than that of Earth, sorted from least to most massive planet.

In [10]:
#(a)

import pandas as pd
import numpy as np

#Read in the data file
planets = pd.read_table('planetData.txt', sep='\s+')
planets

         distance      mass  gravity  diameter    year
Mercury      0.39    0.0550    0.380      0.38    0.24
Venus        0.72    0.8200    0.910      0.95    0.62
Earth        1.00    1.0000    1.000      1.00    1.00
Mars         1.52    0.1100    0.380      0.53    1.88
Jupiter      5.20  318.0000    2.360     11.20   11.90
Saturn       9.58   95.0000    0.920      9.45   29.00
Uranus      19.20   15.0000    0.890      4.01   84.00
Neptune     30.00   17.0000    1.120      3.88  164.00
Pluto       39.50    0.0024    0.071      0.19  248.00

In [11]:
#Let's add the colummn

Volume = (4./3.)*np.pi*(planets['diameter']/2.)**3

planets['density'] = planets['mass']/Volume
planets

         distance      mass  gravity  diameter    year   density
Mercury      0.39    0.0550    0.380      0.38    0.24  1.914314
Venus        0.72    0.8200    0.910      0.95    0.62  1.826604
Earth        1.00    1.0000    1.000      1.00    1.00  1.909859
Mars         1.52    0.1100    0.380      0.53    1.88  1.411128
Jupiter      5.20  318.0000    2.360     11.20   11.90  0.432289
Saturn       9.58   95.0000    0.920      9.45   29.00  0.214996
Uranus      19.20   15.0000    0.890      4.01   84.00  0.444283
Neptune     30.00   17.0000    1.120      3.88  164.00  0.555847
Pluto       39.50    0.0024    0.071      0.19  248.00  0.668270

In [16]:
#Density of the earth
Volum_earh = (4./3.)*np.pi*(1.00/2.)**3

density_earth = planets['mass']['Earth']/((4./3.)*np.pi*(planets['diameter']['Earth']/2.)**3)

planets['densityR'] = planets['density']/density_earth
planets

         distance      mass  gravity  diameter    year   density  densityR
Mercury      0.39    0.0550    0.380      0.38    0.24  1.914314  1.002333
Venus        0.72    0.8200    0.910      0.95    0.62  1.826604  0.956408
Earth        1.00    1.0000    1.000      1.00    1.00  1.909859  1.000000
Mars         1.52    0.1100    0.380      0.53    1.88  1.411128  0.738865
Jupiter      5.20  318.0000    2.360     11.20   11.90  0.432289  0.226346
Saturn       9.58   95.0000    0.920      9.45   29.00  0.214996  0.112571
Uranus      19.20   15.0000    0.890      4.01   84.00  0.444283  0.232626
Neptune     30.00   17.0000    1.120      3.88  164.00  0.555847  0.291041
Pluto       39.50    0.0024    0.071      0.19  248.00  0.668270  0.349905

In [17]:
#(b)
planets.sort_values(by='diameter', ascending=False)

         distance      mass  gravity  diameter    year   density  densityR
Jupiter      5.20  318.0000    2.360     11.20   11.90  0.432289  0.226346
Saturn       9.58   95.0000    0.920      9.45   29.00  0.214996  0.112571
Uranus      19.20   15.0000    0.890      4.01   84.00  0.444283  0.232626
Neptune     30.00   17.0000    1.120      3.88  164.00  0.555847  0.291041
Earth        1.00    1.0000    1.000      1.00    1.00  1.909859  1.000000
Venus        0.72    0.8200    0.910      0.95    0.62  1.826604  0.956408
Mars         1.52    0.1100    0.380      0.53    1.88  1.411128  0.738865
Mercury      0.39    0.0550    0.380      0.38    0.24  1.914314  1.002333
Pluto       39.50    0.0024    0.071      0.19  248.00  0.668270  0.349905

In [22]:
#(c)

lst_massive = planets.loc[planets['mass'] > planets['mass']['Earth'], 'mass']
lst_massive = pd.DataFrame(lst_massive)
lst_massive.sort_values(by='mass', ascending=True)

          mass
Uranus    15.0
Neptune   17.0
Saturn    95.0
Jupiter  318.0

## (2) Starting from the program $urlRead.py$ on page 261, write a program that compares the fluctuations of all the currencies relative to the US dollar (or some other currency of your choosing). Your code should find the average $a$, maximum $m$, and standard deviation $s$ of the value of each currency relative to the US dollar over the period of time starting from the first business day of 2017, January $3^{rd}$. Then create a DataFrame with columns that list $mx = m/a$ and $sd = s/a$ along with the name of each currency, as shown in the listing below. The DataFrame should be sorted from the largest $mx$ to the smallest.

In [2]:
import pandas as pd

url1 = 'http://www.bankofcanada.ca/'
url2 = 'valet/observations/group/FX_RATES_DAILY/csv?start_date='
fecha = '2017-01-03'

url = url1 + url2 + fecha

 
data = pd.read_csv(url, skiprows=39, index_col= 'date')
days, currencies = data.shape
data

,FXAUDCAD,FXBRLCAD,FXCNYCAD,FXEURCAD,FXHKDCAD,FXINRCAD,FXIDRCAD,FXJPYCAD,FXMYRCAD,FXMXNCAD,...,FXZARCAD,FXKRWCAD,FXSEKCAD,FXCHFCAD,FXTWDCAD,FXTHBCAD,FXTRYCAD,FXGBPCAD,FXUSDCAD,FXVNDCAD
date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,0.9702,0.4121,0.1930,1.3973,0.1732,0.01965,0.000100,0.01140,0.2991,0.06439,...,0.09740,0.001112,0.1465,1.3064,0.04150,0.03739,0.3744,1.6459,1.3435,0.000059
2017-01-04,0.9678,0.4129,0.1920,1.3930,0.1717,0.01959,0.000099,0.01134,0.2961,0.06242,...,0.09767,0.001111,0.1460,1.3005,0.04141,0.03717,0.3722,1.6377,1.3315,0.000059
2017-01-05,0.9708,0.4133,0.1922,1.4008,0.1708,0.01954,0.000099,0.01145,0.2953,0.06195,...,0.09743,0.001118,0.1468,1.3083,0.04161,0.03709,0.3674,1.6400,1.3244,0.000058
2017-01-06,0.9668,0.4116,0.1911,1.3953,0.1706,0.01942,0.000099,0.01133,0.2957,0.06213,...,0.09647,0.001103,0.1461,1.3020,0.04131,0.03704,0.3640,1.6275,1.3214,0.000059
2017-01-09,0.9728,0.4135,0.1907,1.3967,0.1706,0.01942,0.000099,0.01138,0.2955,0.06202,...,0.09681,0.001100,0.1460,1.3020,0.04129,0.03709,0.3557,1.6084,1.3240,0.000059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-25,0.9348,0.2268,0.1881,1.4767,0.1553,0.01657,0.000084,0.01107,NaN,0.06063,...,0.08704,0.001074,0.1459,1.3456,0.04322,NaN,0.1425,1.7051,1.2057,NaN
2021-05-26,0.9383,0.2279,0.1895,1.4784,0.1560,0.01665,0.000085,0.01110,NaN,0.06090,...,0.08784,0.001084,0.1458,1.3498,0.04358,NaN,0.1433,1.7111,1.2110,NaN
2021-05-27,0.9346,0.2290,0.1891,1.4723,0.1556,0.01663,0.000084,0.01101,NaN,0.06050,...,0.08773,0.001080,0.1457,1.3442,0.04342,NaN,0.1421,1.7124,1.2073,NaN
2021-05-28,0.9311,0.2312,0.1897,1.4723,0.1557,0.01668,0.000085,0.01100,NaN,0.06058,...,0.08768,0.001084,0.1454,1.3426,0.04362,NaN,0.1410,1.7135,1.2086,NaN
2021-05-31,0.9341,0.2307,0.1895,1.4749,0.1555,0.01665,0.000085,0.01102,NaN,0.06058,...,0.08782,0.001089,0.1456,1.3423,0.04379,NaN,0.1422,1.7137,1.2072,NaN

In [3]:
codes = pd.read_csv(url, skiprows=10, usecols=[0,2], 
                   nrows=currencies)
codes

          id                                        description
0   FXAUDCAD  Australian dollar to Canadian dollar daily exc...
1   FXBRLCAD  Brazilian real to Canadian dollar daily exchan...
2   FXCNYCAD  Chinese renminbi to Canadian dollar daily exch...
3   FXEURCAD  European euro to Canadian dollar daily exchang...
4   FXHKDCAD  Hong Kong dollar to Canadian dollar daily exch...
5   FXINRCAD  Indian rupee to Canadian dollar daily exchange...
6   FXIDRCAD  Indonesian rupiah to Canadian dollar daily exc...
7   FXJPYCAD  Japanese yen to Canadian dollar daily exchange...
8   FXMYRCAD  Malaysian ringgit to Canadian dollar daily exc...
9   FXMXNCAD  Mexican peso to Canadian dollar daily exchange...
10  FXNZDCAD  New Zealand dollar to Canadian dollar daily ex...
11  FXNOKCAD  Norwegian krone to Canadian dollar daily excha...
12  FXPENCAD  Peruvian new sol to Canadian dollar daily exch...
13  FXRUBCAD  Russian ruble to Canadian dollar daily exchang...
14  FXSARCAD  Saudi riyal to Canadian dollar daily exchange ...
15  FXSGDCAD  Singapore dollar to Canadian dollar daily exch...
16  FXZARCAD  South African rand to Canadian dollar daily ex...
17  FXKRWCAD  South Korean won to Canadian dollar daily exch...
18  FXSEKCAD  Swedish krona to Canadian dollar daily exchang...
19  FXCHFCAD  Swiss franc to Canadian dollar daily exchange ...
20  FXTWDCAD  Taiwanese dollar to Canadian dollar daily exch...
21  FXTHBCAD   Thai baht to Canadian dollar daily exchange rate
22  FXTRYCAD  Turkish lira to Canadian dollar daily exchange...
23  FXGBPCAD  UK pound sterling to Canadian dollar daily exc...
24  FXUSDCAD   US dollar to Canadian dollar daily exchange rate
25  FXVNDCAD  Vietnamese dong to Canadian dollar daily excha...

In [14]:

#First we must calculate the average a and the maximum mx of each currency relative to the CAD



#Let's create a list for the code names
ids = []

for c in codes['id']:
    ids.append(c)

print(ids)

#Let's create a list for the variables mx

lst_mx = []

for (col, cod) in zip(range(data.shape[1]), ids):
    
    promedio = sum(data[cod])/(data.shape[0])
    mx = max(data[cod])/promedio
    
    lst_mx.append(mx)

print(lst_mx)

['FXAUDCAD', 'FXBRLCAD', 'FXCNYCAD', 'FXEURCAD', 'FXHKDCAD', 'FXINRCAD', 'FXIDRCAD', 'FXJPYCAD', 'FXMYRCAD', 'FXMXNCAD', 'FXNZDCAD', 'FXNOKCAD', 'FXPENCAD', 'FXRUBCAD', 'FXSARCAD', 'FXSGDCAD', 'FXZARCAD', 'FXKRWCAD', 'FXSEKCAD', 'FXCHFCAD', 'FXTWDCAD', 'FXTHBCAD', 'FXTRYCAD', 'FXGBPCAD', 'FXUSDCAD', 'FXVNDCAD']
[1.0817955701283595, 1.3305471819139227, 1.0674238526216935, 1.0725702429437425, 1.1131415593756269, 1.1388443269349064, 1.1070736009198943, 1.1198342293161136, nan, 1.1155244614139732, 1.0918835672499936, 1.1144721594323155, 1.0873889551564564, 1.200255914081882, 1.106000692713168, 1.0462456299021137, 1.2049589170286559, 1.0661608332352772, 1.0878831832418634, 1.1045080868671708, 1.100594411797823, nan, 1.5237318941019076, 1.0761969491414518, 1.1067376062025138, nan]

'\n#max(data[ids[0]])\nsuma = sum(data[ids[0]])\nm = suma/data.shape[0]\n\nmx = max(data[ids[0]])/m\nmx\n\n'

## (4) Go to the website https://www.ncdc.noaa.gov/cdo-web/search and make a request to download weather data for some place that interests you. I requested weather data as a csv file for Central Park in New York City (zip code 10023), as it dates back from the 19th century, although I chose to receive data dating from January 1, 1900.

### a) Read the weather data you download into a DataFrame, taking care to make sure the date is formatted as a datetime ob- ject and set to be the DataFrame index. Print out a table with the date as the first column and the daily precipitation, maxi- mum temperature, and minimum temperature for one month of your choosing. The headings for those data are PRCP, TMIN, and TMAX, respectively.

In [ ]:


climate = pd.read_csv('')